@charset "UTF-8";
/* FUENTES */
.header {
  background-color: rgb(255, 209, 209);
  grid-area: header;
  padding: 2rem;
  background-image: url(/iconos/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
}

.header__title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 1rem;
  list-style: none;
}

.menu__desplazable {
  position: fixed;
  top: 1;
  background-color: #FDFBFB;
  width: 100%;
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
}

.navbar__item {
  display: flex;
  align-items: center;
}

.navbar__item a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.navbar__menu li {
  cursor: pointer;
}

/* Estilos del submenú */
.navbar__item_submenu {
  list-style-type: none;
  background-color: #FDFBFB;
  padding: 1rem;
  top: 3.2rem;
  width: 15rem;
  position: absolute;
  text-align: center;
  display: none;
}

.navbar__item:hover .navbar__item_submenu {
  display: block;
}

.navbar__item:hover {
  background-color: #F6D4D2;
  transition: 0.1s ease-in-out;
}

.submenu__item:hover {
  background-color: #F6D4D2;
}

.icono_svg {
  width: 2rem;
}

@media (min-width: 641px) and (max-width: 1024px) {
  /* FOOTER */
  .footer {
    background-color: #eea3ac;
    grid-area: footer;
    font-size: 2.3rem;
    color: white;
    text-align: center;
    padding: 2rem;
  }
  .navegacion {
    background-color: rgb(0, 136, 255);
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/iconos/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
    cursor: pointer;
    height: 23rem;
  }
  .navbar__footer {
    list-style-type: none;
  }
  .navbar__footer-item {
    cursor: pointer;
  }
  .navbar__footer-item a {
    text-decoration: none;
    color: black;
  }
  .navbar__footer-item:hover {
    background-color: #ffa5a0;
  }
  /* ICONOS */
  .medios__pago {
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    width: auto;
    height: auto;
  }
  .visa_icon {
    width: 3rem;
    margin-top: 4.5px;
  }
  /* CONTACTO */
  .contacto {
    width: 20rem;
    text-align: center;
  }
  .contacto_numero {
    border: solid red;
  }
  .img {
    display: flex;
    align-items: center;
    margin: auto 0;
  }
  .img p {
    margin-left: 1rem;
  }
  /* REDES SOCIALES */
  .redes__sociales {
    text-align: center;
  }
}
/*  DETALLES  */
.container__detalles {
  width: 900px;
  height: 20rem;
  margin: auto;
  margin-top: 7rem;
  font-size: 1.8rem;
}

.detalles__article {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
}

.detalles__caja-uno {
  width: 20rem;
  text-align: center;
}

.detalles__caja-dos,
.detalles__caja-tres {
  text-align: center;
}

.detalles__caja-uno,
.detalles__caja-dos,
.detalles__caja-tres {
  border-right: solid;
  border-style: groove;
  border-color: #F6D4D2;
  background-image: url(/iconos/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
}

/* FRASE */
.frase {
  font-size: 2.2rem;
  text-align: center;
  font-family: "Lora", serif;
  margin-top: 4rem;
  width: auto;
}

/* FRASE */
/* FIN DETALLES  */
/*Caja - Imagenes*/
.container__section {
  width: 971px;
  margin: auto;
  margin-top: 10rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.caja__img {
  width: 30rem;
  height: 33rem;
  border: solid rgb(221, 198, 243);
  border-style: double;
  outline-style: groove;
  outline-offset: 0.2rem;
  outline-color: rgba(255, 234, 245, 0.863);
  box-shadow: 1rem 1rem 1rem 0.1rem;
}

/* Fin Caja - Imagenes*/
/* ICONOS */
.medios__pago {
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  width: auto;
  height: auto;
}

.visa_icon {
  width: 3rem;
  margin-top: 4.5px;
}

/* CONTACTO */
.contacto {
  width: 20rem;
  text-align: center;
}

.contacto_numero {
  border: solid red;
}

.img {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.img p {
  margin-left: 1rem;
}

/* REDES SOCIALES */
.redes__sociales {
  text-align: center;
}

/* ::::::::::::::::::::::::: Estilos Pagina Contacto ::::::::::::::::::::::::: */
.container__horarios {
  font-size: 4rem;
  text-align: center;
}

.caja_contacto {
  width: auto;
  height: max-content;
}

.detalles_numeros,
.correo,
.ubicacion {
  font-size: 2.5rem;
  gap: 0.4rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

/* medida iconos*/
.icons {
  width: 2.5rem;
}

/* medida iconos*/
.numero {
  font-size: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.formulario label {
  font-size: 2.4rem;
}

.formulario input {
  width: 50rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-style: dashed;
  border-color: pink;
}

.mensaje {
  background-color: rgb(244, 214, 214);
  margin-top: 4rem;
  width: 50rem;
  color: black;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 2rem;
}

.button__submit {
  background-color: #EFCBCF;
  width: 10rem;
  height: 3rem;
  transition: 0.2s ease;
  font-size: 1.6rem;
}

.button__submit:active {
  transform: scale(0.9);
}

.button__submit:hover {
  background-color: #f77382;
}

.container_politica_cambios {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem;
  height: 33rem;
  margin-top: 7.4rem;
  font-family: "DM Sans", sans-serif;
}

.container_descripcion {
  margin-top: 4rem;
  height: auto;
}
.container_descripcion .contenido {
  display: flex;
  gap: 2rem;
}
.container_descripcion .contenido .contenido_descripcion {
  font-size: 1.7rem;
  margin-top: 13rem;
  font-family: "DM Sans", sans-serif;
}
.container_descripcion .img_autora {
  width: 44rem;
  height: auto;
  border-radius: 50%;
}

.container_autora_resumen {
  margin: 0 auto;
  height: 70rem;
  display: flex;
  flex-direction: column;
  background-image: url(/autora_brismar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto_reflexion {
  background-color: rgba(49, 49, 49, 0.612);
  width: 100rem;
  text-align: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.1rem;
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
}

.parrafo {
  font-size: 1.4rem;
  font-weight: bold;
}

.mark-resaltado {
  background-color: rgb(253, 229, 181);
}

.container__price {
  margin-top: 1.2rem;
  text-align: center;
  border: solid rgb(249, 146, 163);
  background-color: #FDFBFB;
  color: black;
}
.container__price h3 {
  font-size: 1.7rem;
  font-family: "DM Sans", sans-serif;
}
.container__price p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ::::::::::::::::::::::::: GRID POSITIONS ::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::: Resoluciones ::::::::::::::::::::::::: */
/* @media querie para movil */
@media (min-width: 20em) and (max-width: 40em) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 50px 1fr 50px;
    grid-template-areas: "header" "nav" "main" "footer";
  }
  .header {
    background-color: rgb(242, 236, 230);
    grid-area: header;
  }
  .nav {
    background-color: rgb(141, 151, 153);
    grid-area: nav;
  }
  .main {
    background-color: rgb(237, 139, 139);
    grid-area: main;
  }
  .footer {
    background-color: rgb(27, 219, 149);
    grid-area: footer;
  }
}
/* FIN @media querie para movil */
/* @media querie para tablet */
@media (min-width: 40.0625em) and (max-width: 64em) {
  .container {
    width: 1024px;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 77px 50px 1fr 77px;
    grid-template-areas: "header header" "nav    nav" "main   main" "footer footer";
  }
  .header {
    background-color: rgb(242, 236, 230);
    grid-area: header;
  }
  .nav {
    background-color: #fdfbfb;
    grid-area: nav;
  }
  .main {
    background-color: #f6d4d2;
    grid-area: main;
  }
  .footer {
    background-color: #f9b2df;
    grid-area: footer;
  }
}
/* ::::::::::::::::::::::::: Resoluciones ::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::: @IMPORT ::::::::::::::::::::::::: */
/** @IMPORT **/

/*# sourceMappingURL=index.css.map */
