/* RESET STYLES */
html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  min-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/************************          Estilos - Pagina Inicio                     ********************/
/*Config Resoluciones mobile */
@media (max-width: 47.9375em) {
  .container-areas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77px 50px 1fr 70px;
    grid-template-areas: "header" "navbar" "main" "footer";
  }
  /*** Config Header - Navbar ***/
  /****************************************************************************/
  .header {
    background-color: aqua;
    grid-area: header;
    background-image: url(../assets/icons/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
  }
  /*******         ************/
  /* Config Menu */
  .btn__menu {
    position: fixed;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    right: 1rem;
    top: 4.9rem;
    opacity: 0;
  }
  .btn__burguer {
    position: fixed;
    width: 3rem;
    height: 0.6rem;
    z-index: 998;
    background-color: #fa52e1;
    right: 1rem;
    top: 7.3rem;
    border-radius: 0.3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transition: transform 500ms ease, background-color 500ms ease;
  }
  .btn__burguer::before,
  .btn__burguer::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.6rem;
    background-color: #fa52e1;
    border-radius: 0.3rem;
    transition: transform 500ms ease;
  }
  .btn__burguer::before {
    transform: rotate(0deg) translate(0, -0.9rem);
  }
  .btn__burguer::after {
    transform: rotate(0deg) translate(0, 0.3rem);
  }
  .btn__menu:checked + .btn__burguer {
    background-color: transparent;
  }
  .btn__menu:checked + .btn__burguer::before {
    transform: rotate(45deg) translate(0, 0);
  }
  .btn__menu:checked + .btn__burguer::after {
    transform: rotate(-45deg) translate(0.4rem, -0.5rem);
  }
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    background-color: #ff9fdc;
    align-items: center;
    transform: translate(-100%, 0);
    transition: transform 500ms ease-in-out;
    border: solid;
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
  .btn__menu:checked ~ .navbar__menu {
    transform: translate(0, 0);
  }
  .navbar__menu .navbar__item {
    padding: 2rem;
    font-size: 1.5rem;
    list-style-type: none;
  }
  .navbar__link {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-decoration: none;
    color: #ffffff;
  }
  .btn__submenu {
    display: none;
  }
  .submenu__label {
    color: #ffffff;
    cursor: pointer;
  }
  .submenu__list {
    width: 100%;
    height: 10rem;
    display: none;
    list-style-type: none;
    background-color: #e85b99;
    padding: 1.7rem;
  }
  .submenu__list a {
    text-decoration: none;
    color: #ffffff;
  }
  .submenu__link {
    border-bottom: thin solid;
    width: 100%;
  }
  .btn__submenu:checked + .submenu__label + .submenu__list {
    display: block;
  }
  .navbar__menu .navbar__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  .submenu__list a {
    text-decoration: none;
  }
  /***************************************/
  /* Fin Config Menu */
  .logo__title > h1 {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
  }
  /*** Fin Config Header - Navbar ***/
  /****************************************************************************/
  /*** Config Main ***/
  /****************************************************************************/
  .main {
    background-color: #f6d4d2;
    grid-area: main;
  }
  /********           ********/
  /*Frase*/
  .frase {
    margin-top: 2.3rem;
    margin-bottom: 4.1rem;
    font-size: 1.3rem;
    text-align: center;
    color: #000;
    font-family: "Lora", serif;
  }
  /*Fin- Frase*/
  .descripcion {
    border: thin solid cadetblue;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
    font-family: "Dancing Script", cursive;
    font-size: 1.57rem;
  }
  /*section__images*/
  .section__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
  }
  .container__images {
    width: 15rem;
    margin: auto;
  }
  .container__images img {
    color: rgba(88, 83, 83, 0.9843137255);
    box-shadow: 1rem 1rem 3rem;
  }
  .imagen__mujer {
    display: flex;
    justify-content: center;
    filter: drop-shadow(1rem 1rem 1rem #001000);
  }
  .imagen__mujer img {
    width: 500px;
  }
  /*Fin section__images*/
  /**Detalles**/
  .detalles__article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-image: url(../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }
  .detalles__caja-uno,
  .detalles__caja-dos,
  .detalles__caja-tres {
    text-align: center;
    font-size: 1.2rem;
  }
  /**Fin Detalles**/
  /* Flip Card */
  .flip-card-1 {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 500px;
    height: 400px;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*FIN - Flip Card */
  /*** Fin Config Main ***/
  /****************************************************************************/
  /***  Config Footer ***/
  /****************************************************************************/
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #dd8f9a;
    color: #ffffff;
    text-align: center;
  }
  .footer a {
    color: #ffffff;
  }
  .navbar__footer a:hover {
    background-color: #ffa5a0;
  }
  .navegacion {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.1rem;
    text-align: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
  }
  .navegacion h3 {
    font-size: 1.3rem;
  }
  .navegacion ul {
    list-style: none;
  }
  .navegacion a {
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  .visa_icon {
    width: 2rem;
  }
  .contacto__info {
    display: flex;
  }
  /*** Fin Config Footer ***/
  /*Fin Config Resoluciones mobile*/
  /************************************************************************************************/
}
@media (max-width: 501px) {
  /*Section__images*/
  .section__images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
  }
  .container__images {
    width: 11rem;
    margin: auto;
  }
  .container__images img {
    color: rgba(88, 83, 83, 0.9843137255);
    box-shadow: 1rem 1rem 3rem;
  }
  .imagen__mujer {
    display: flex;
    justify-content: center;
    filter: drop-shadow(1rem 1rem 1rem #001000);
  }
  .imagen__mujer img {
    width: 400px;
  }
  /* Flip Card */
  .flip-card-1 {
    width: 400px;
    height: 250px;
  }
  .frase {
    width: 24rem;
    margin-top: 2.3rem;
    margin-right: auto;
    margin-left: auto;
  }
  .container__article {
    width: 11rem;
    margin: 0 auto;
  }
}
/* Configuraciones * */
@media (max-width: 423px) {
  .frase {
    width: 17rem;
    margin-top: 2.3rem;
    margin-right: auto;
    margin-left: auto;
  }
  .container__article {
    width: 11rem;
    margin: 0 auto;
  }
  /* Flip Card */
  .flip-card-1 {
    width: 340px;
    height: 250px;
  }
  /* FIN - Configuraciones */
}
/*Config Resolucion Tablet*/
@media (min-width: 768px) and (max-width: 990px) {
  .container-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 77px 59px 1fr 70px;
    grid-template-areas: "header header" "navbar navbar" "main main" "footer footer";
  }
  /*** Config Header ***/
  .header {
    grid-area: header;
    display: flex;
    padding: 1rem;
    font-size: 1.7rem;
    font-family: "Dancing Script", cursive;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
  }
  /******* ***********/
  .btn__menu {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__navbar-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.6rem;
    font-size: 1.2rem;
    width: 99vw;
    text-align: center;
    background-color: #ffffff;
    list-style-type: none;
  }
  .menu__desplazable {
    position: fixed;
  }
  .navbar__link {
    text-decoration: none;
    color: #000;
  }
  .logo__title {
    font-weight: bold;
  }
  .navbar__link:hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
  }
  .submenu {
    display: none;
    background-color: #ffffff;
    width: 12rem;
    top: 2.6rem;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
  }
  .submenu__link {
    text-decoration: none;
    color: #000;
  }
  .navbar__link:hover + .submenu,
  .submenu:hover {
    display: flex;
  }
  .submenu :hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
  }
  .dialog {
    width: 800px;
    height: 440px;
    margin: auto;
    background-image: url(../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }
  dialog::backdrop {
    background-color: rgba(25, 24, 24, 0.568627451);
    opacity: 0.25rem;
  }
  .container__buttons {
    display: flex;
    gap: 1rem;
  }
  .button___crear-cuenta,
  .button___iniciar-cuenta {
    font-size: 1.2rem;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .button___crear-cuenta:hover,
  .button___iniciar-cuenta:hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
  }
  .container__info-uno,
  .container__info-dos,
  .container__info-tres {
    display: flex;
    margin: auto;
    width: 38.5rem;
    margin-top: 1.5rem;
    gap: 2rem;
    height: 4rem;
  }
  .button__close {
    width: 8rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: #c5e8f8;
    cursor: pointer;
  }
  .button__close:hover {
    background-color: #8dceec;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .button__close:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  input[type=text],
  [type=email],
  [type=number],
  [type=password] {
    height: 2rem;
    margin-top: 0.2rem;
    width: 18rem;
  }
  .formulario_crear-cuenta,
  .formulario_iniciar-cuenta [type=label] {
    font-size: 1.3rem;
  }
  .formulario_crear-cuenta [type=submit] {
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin-top: 2rem;
    background-color: #f68895;
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario_crear-cuenta [type=submit]:hover {
    background-color: #f17684;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .formulario_crear-cuenta [type=submit]:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  .formulario_iniciar-cuenta [type=submit] {
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin-top: 7rem;
    background-color: #f68895;
    cursor: pointer;
  }
  .formulario_iniciar-cuenta [type=submit]:hover {
    background-color: #f17684;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .formulario_iniciar-cuenta [type=submit]:active {
    transform: scale(0.9);
  }
  .info_cuatro {
    margin-top: 5rem;
  }
  .cart {
    width: 2rem;
    height: 2rem;
  }
  .cart:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(47%) saturate(4993%) hue-rotate(266deg) brightness(111%) contrast(104%);
    transition: filter 100ms ease-in;
  }
  /*** Fin Config Header ***/
  /****************************************************************************/
  /***  Config Main ***/
  .main {
    background-color: #f6d4d2;
    grid-area: main;
  }
  /*******     **************/
  /*Frase*/
  .frase {
    margin-top: 7rem;
    margin-bottom: 4.1rem;
    font-size: 1.3rem;
    text-align: center;
    color: #000;
    font-family: "Lora", serif;
  }
  /*Fin- Frase*/
  .imagen__mujer {
    display: flex;
    justify-content: center;
    filter: drop-shadow(1rem 1rem 1rem #001000);
  }
  .descripcion {
    border: thin solid cadetblue;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
    font-family: "Dancing Script", cursive;
    font-size: 1.57rem;
  }
  /*section__images*/
  .section__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 7rem;
  }
  .container__images {
    width: 22rem;
    margin: auto;
  }
  .section__images img {
    color: rgba(88, 83, 83, 0.9843137255);
    box-shadow: 1rem 1rem 3rem;
  }
  /*Fin section__images*/
  /**Detalles**/
  .detalles__article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-image: url(../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }
  .detalles__caja-uno,
  .detalles__caja-dos,
  .detalles__caja-tres {
    text-align: center;
  }
  /**Fin Detalles**/
  /* Flip Card */
  .flip-card-1 {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 600px;
    height: 400px;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*** Fin Config Main ***/
  /****************************************************************************/
  /***  Config Footer ***/
  /****************************************************************************/
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    background-color: #dd8f9a;
    color: #ffffff;
  }
  .footer a {
    color: #ffffff;
  }
  .navegacion {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    font-size: 1.3rem;
    text-align: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
  }
  .navbar__footer a:hover {
    background-color: #ffa5a0;
  }
  .navegacion ul {
    list-style: none;
  }
  .navegacion a {
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  .visa_icon {
    width: 2rem;
  }
  .contacto__info {
    display: flex;
  }
}
/** Fin Config Footer **/
/*Fin - Config Resolucion Tablet */
/*Config Resolucion Desktop*/
@media (min-width: 61.9375em) {
  .container-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 77px 59px 1fr 70px;
    grid-template-areas: "header header" "navbar navbar" "main main" "footer footer";
  }
  /*** Config Header ***/
  .header {
    grid-area: header;
    display: flex;
    padding: 1rem;
    font-size: 1.7rem;
    font-family: "Dancing Script", cursive;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
  }
  /******* ***********/
  .btn__menu {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__navbar-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.6rem;
    font-size: 1.4rem;
    width: 99vw;
    text-align: center;
    background-color: #ffffff;
    list-style-type: none;
  }
  .menu__desplazable {
    position: fixed;
  }
  .navbar__link {
    text-decoration: none;
    color: #000;
  }
  .logo__title {
    font-weight: bold;
  }
  .navbar__link:hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
  }
  .submenu {
    display: none;
    background-color: #fff;
    width: 12rem;
    top: 2.6rem;
    flex-direction: column;
    position: absolute;
    list-style-type: none;
  }
  .submenu__link {
    text-decoration: none;
    color: #000;
  }
  .navbar__link:hover + .submenu,
  .submenu:hover {
    display: flex;
  }
  .submenu :hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
  }
  .dialog {
    width: 800px;
    height: 440px;
    margin: auto;
    background-image: url(../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }
  dialog::backdrop {
    background-color: rgba(25, 24, 24, 0.568627451);
    opacity: 0.25rem;
  }
  .container__buttons {
    display: flex;
    gap: 1rem;
  }
  .button___crear-cuenta,
  .button___iniciar-cuenta {
    font-size: 1.4rem;
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .button___crear-cuenta:hover,
  .button___iniciar-cuenta:hover {
    background-color: rgb(255, 183, 250);
    transition: background-color 100ms ease-in;
    -webkit-transition: background-color 100ms ease-in;
    -moz-transition: background-color 100ms ease-in;
    -ms-transition: background-color 100ms ease-in;
    -o-transition: background-color 100ms ease-in;
  }
  .container__info-uno,
  .container__info-dos,
  .container__info-tres {
    display: flex;
    margin: auto;
    width: 38.5rem;
    margin-top: 1.5rem;
    gap: 2rem;
    height: 4rem;
  }
  .button__close {
    width: 8rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: #c5e8f8;
    cursor: pointer;
  }
  .button__close:hover {
    background-color: #8dceec;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .button__close:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  input[type=text],
  [type=email],
  [type=number],
  [type=password] {
    height: 2rem;
    margin-top: 0.2rem;
    width: 18rem;
  }
  .formulario_crear-cuenta,
  .formulario_iniciar-cuenta [type=label] {
    font-size: 1.3rem;
  }
  .formulario_crear-cuenta [type=submit] {
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin-top: 2rem;
    background-color: #f68895;
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario_crear-cuenta [type=submit]:hover {
    background-color: #f17684;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .formulario_crear-cuenta [type=submit]:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  .formulario_iniciar-cuenta [type=submit] {
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin-top: 7rem;
    background-color: #f68895;
    cursor: pointer;
  }
  .formulario_iniciar-cuenta [type=submit]:hover {
    background-color: #f17684;
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
  }
  .formulario_iniciar-cuenta [type=submit]:active {
    transform: scale(0.9);
  }
  .info_cuatro {
    margin-top: 5rem;
  }
  .cart {
    width: 2rem;
    height: 2rem;
  }
  .cart:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(47%) saturate(4993%) hue-rotate(300deg) brightness(111%) contrast(104%);
    transition: filter 100ms ease-in;
  }
  /*** Fin Config Header ***/
  /****************************************************************************/
  /***  Config Main ***/
  .main {
    background-color: #f6d4d2;
    grid-area: main;
  }
  /*******     **************/
  /*Frase*/
  .frase {
    margin-top: 7rem;
    margin-bottom: 4.1rem;
    font-size: 1.3rem;
    text-align: center;
    color: #000;
    font-family: "Lora", serif;
  }
  /*Fin- Frase*/
  .imagen__mujer {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    filter: drop-shadow(1rem 1rem 1rem #001000);
  }
  .descripcion {
    border: thin solid cadetblue;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
    font-family: "Dancing Script", cursive;
    font-size: 1.57rem;
  }
  /*section__images*/
  .section__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 7rem;
  }
  .container__images {
    width: 22rem;
    margin: auto;
  }
  .section__images img {
    color: rgba(88, 83, 83, 0.9843137255);
    box-shadow: 1rem 1rem 3rem;
  }
  .imagen__mujer img {
    width: 100%;
  }
  /*Fin section__images */
  /**Detalles**/
  .detalles__article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-image: url(../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }
  .detalles__caja-uno,
  .detalles__caja-dos,
  .detalles__caja-tres {
    text-align: center;
  }
  /**Fin Detalles**/
  /* Flip Card */
  .flip-card-1 {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: 600px;
    height: 400px;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*** Fin Config Main ***/
  /****************************************************************************/
  /***  Config Footer ***/
  /****************************************************************************/
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-color: #dd8f9a;
    color: #ffffff;
  }
  .footer a {
    color: #ffffff;
  }
  .navegacion {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    font-size: 1.3rem;
    text-align: center;
    background-image: url(../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
  }
  .navbar__footer a:hover {
    background-color: #ffa5a0;
  }
  .navegacion ul {
    list-style: none;
  }
  .navegacion a {
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  .visa_icon {
    width: 2rem;
  }
  .contacto__info {
    display: flex;
  }
}
/*** Fin Config Footer ***/
/****************************************************************************/
/************************     Fin Estilos - Pagina Inicio                     ********************/
/************************      Estilos - Pagina Contacto                     ********************/
/*Config Resolucion Movil*/
@media (max-width: 767px) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .contacto a {
    text-decoration: none;
    color: #000;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    font-size: 1.6rem;
  }
  .formulario input {
    margin-top: 1rem;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.5rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
  }
  .formulario textarea {
    width: 20rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
  }
  .formulario [type=submit] {
    width: 6rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type=submit] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type=submit]:active {
    transform: scale(0.9);
  }
}
/*Config Resolucion Tablet*/
@media (min-width: 47.9375em) and (max-width: 61.875em) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .contacto a {
    text-decoration: none;
    color: #000;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    font-size: 1.6rem;
  }
  .formulario input {
    margin-top: 1rem;
    width: 20rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.5rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
  }
  .formulario textarea {
    width: 20rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
  }
  .formulario [type=submit] {
    width: 6rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type=submit] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type=submit]:active {
    transform: scale(0.9);
  }
}
/************ Fin Config Resolucion Tablet    **********/
/*Config Resolucion Desktop*/
@media (min-width: 61.9375em) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 2rem;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .contacto__container p {
    font-size: 1.2rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .formulario input {
    margin-top: 1rem;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario textarea {
    width: 25rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
  }
  .formulario [type=submit] {
    width: 6rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type=submit]:hover {
    background-color: #f75669;
    transition: background-color 0.1s ease;
  }
  .formulario [type=submit] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type=submit]:active {
    transform: scale(0.9);
  }
}
/************************    Fin  Estilos - Pagina Contacto                     ********************/
/************************      Estilos - Pagina Sobre Nosotros                     ********************/
/*Config Resolucion Movil*/
@media (max-width: 767px) {
  .contenido img {
    border-radius: 50%;
  }
  .contenido {
    display: flex;
    align-items: center;
    width: 35rem;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .contenido p {
    font-size: 1.4rem;
  }
}
/*Config Resolucion Tablet*/
@media (min-width: 768px) and (max-width: 990px) {
  .contenido img {
    border-radius: 50%;
  }
  .contenido {
    display: flex;
    align-items: center;
    width: 40rem;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .contenido p {
    font-size: 1.4rem;
  }
}
/*Config Resolucion Desktop*/
@media (min-width: 991px) {
  .contenido img {
    border-radius: 50%;
  }
  .contenido {
    display: flex;
    align-items: center;
    width: 49rem;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .contenido p {
    font-size: 1.4rem;
  }
}
/************************    Fin  Estilos - Pagina Sobre Nosotros                     ********************/
/************************      Estilos - Pagina Vestidos                    ********************/
/*Config Resolucion Movil*/
@media (max-width: 767px) {
  .container__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
  }
  .container__article {
    width: 13rem;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
  }
  .container__price {
    text-align: center;
    background-color: #fff;
    font-size: 1.1rem;
  }
  .container__article a {
    text-decoration: none;
    color: black;
  }
}
/*Config Resolucion Tablet*/
@media (min-width: 768px) and (max-width: 990px) {
  .container__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
  }
  .container__article {
    width: 18rem;
    height: 30rem;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
  }
  .container__price {
    text-align: center;
    background-color: #fff;
    font-size: 1.1rem;
  }
  .container__article a {
    text-decoration: none;
    color: black;
  }
}
/*Config Resolucion Desktop*/
@media (min-width: 991px) {
  .container__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    gap: 1rem;
  }
  .container__article {
    width: 19rem;
    height: 34rem;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
  }
  .container__price {
    text-align: center;
    background-color: #fff;
    font-size: 1.1rem;
  }
  .container__article a {
    text-decoration: none;
    color: black;
  }
}
/************************    Fin  Estilos - Pagina Vestidos                    ********************/
/************************      Estilos - Pagina Politica de cambio                    ********************/
/*Config Resolucion Movil*/
@media (max-width: 767px) {
  .container_politica_cambios {
    margin-top: 4rem;
  }
  .politica_cambios {
    font-family: "DM Sans", sans-serif;
    font-size: 0.8rem;
    text-align: center;
  }
}
/*Config Resolucion Tablet*/
@media (min-width: 768px) and (max-width: 990px) {
  .container_politica_cambios {
    margin-top: 4rem;
  }
  .politica_cambios {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
}
/*Config Resolucion Desktop*/
@media (min-width: 991px) {
  .container_politica_cambios {
    margin-top: 4rem;
  }
  .politica_cambios {
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }
}
/************************    Fin Estilos - Pagina Politica de cambio                    ********************/
/** *********************************** Breakpoints Resoluciones ************************************************************/
/*Movil*/
.resolucion {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 990px) {
  .desktop {
    display: none;
  }
  .movil {
    display: none;
  }
}
@media (min-width: 991px) {
  .tablet {
    display: none;
  }
  .movil {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
