// Paleta de colores //

$color_principal: #f6d4d2;
$color_secondary: #fdfbfb;

$color_btn_burguer: rgb(255, 0, 217);

$color_footer: #dd8f9a;

$color_navbar-hover: rgba(255, 169, 255, 0.9333333333);

$color_navegacion_footer: #ffa5a0;
$color_boton_submit: #f77382;
