@use 'font_family';
@use 'colores';
.container__price {
  margin-top: 1.2rem;
  text-align: center;
  border: solid rgb(249, 146, 163);
  background-color: colores.$color_navbar;
  color: black;

  h3 {
    font-size: 1.7rem;
    font-family: font_family.$fuente-family_cambios;
  }

  p {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
}
