@use 'font_family';
@use 'colores';
  .header {
      background-color:colores.$color_header;
      grid-area: header;
      padding: 2rem;
      background-image: url(/iconos/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
  }

  .header__title {
      text-align: center;
      font-family: font_family.$fuente-title;
      font-size: 4rem;
  }

  .navbar__menu {
      display: flex;
      justify-content: space-evenly;
      font-size: 2rem;
      padding: 1rem;
      list-style: none;
  }

  .menu__desplazable {
      position: fixed;
      top: 1;
      background-color: colores.$color_menu_desplazable;
      width: 100%;
      z-index: 1000;
      /* Asegura que esté por encima de otros elementos */
  }

  .navbar__item a {
      list-style-type: none;
      text-decoration: none;
      color: black;
  }

  .navbar__menu li {
      cursor: pointer;
  }

  /* Estilos del submenú */
  .navbar__item_submenu {
      list-style-type: none;
      background-color: colores.$color_navbar_submenu;
      padding: 1rem;
      width: 15rem;
      position: absolute;
      text-align: center;
      display: none;
  }


  .navbar__item:hover .navbar__item_submenu {
      display: block;
  }


  .navbar__item:hover {
      background-color: colores.$color_navbar_item_hover;

      transition: 0.1s ease-in-out;
  }


  .submenu__item:hover {
      background-color: colores.$color_submenu__item;
  }

