/* ICONOS */
.medios__pago {
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
  width: auto;
  height: auto;
}

.visa_icon {
  width: 3rem;
  margin-top: 4.5px;
}

/* CONTACTO */
.contacto {
  width: 20rem;
  text-align: center;
}

.contacto_numero {
  border: solid red;
}

.img {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.img p {
  margin-left: 1rem;
}

/* REDES SOCIALES */
.redes__sociales {
  text-align: center;
}
.icono_falda {
  display: flex;
  justify-content: center;
}
.icono_falda_item {
  width: 3.6rem;
}
