@use 'font_family';
@media (min-width: 40.0625em) and (max-width: 64em) {
  .container_politica_cambios {
    display: flex;
    text-align: center;
    align-items: center;

    font-size: 1.8rem;
    padding: 1rem;
    height: 33rem;
    margin-top: 7.4rem;
    font-family: font_family.$fuente-family_cambios;
  }
}
