@use 'font_family';

@media (min-width: 40.0625em) and (max-width: 64em) {
  .h2_productos {
    font-size: 4rem;
    margin-top: 2rem;
    text-align: center;
    font-family: font_family.$fuente-title;
  }
}
