/*Config Main - Inicio - Slide*/
.slides {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.slide {
  width: 100%;
  height: inherit;
  background-color: rgb(240, 197, 197);
}
.slide:nth-child(even) {
  background-color: aqua;
}
.slide__container {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #fff;
  border: thin solid red;
}
/*Fin Config Main - Inicio - Slide*/
