@use 'font_family';
.container_descripcion {
  margin-top: 4rem;
  height: auto;
  .contenido {
    display: flex;
    gap: 2rem;
    .contenido_descripcion {
      font-size: 1.7rem;
      margin-top: 13rem;
      font-family: font_family.$fuente-family_cambios;
    }
  }
  .img_autora {
    width: 44rem;
    height: auto;
    border-radius: 50%;
  }
}
.container_autora_resumen {
  margin: 0 auto;
  height: 70rem;
  display: flex;
  flex-direction: column;
  background-image: url(/autora_brismar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.texto_reflexion {
  background-color: rgba(49, 49, 49, 0.612);
  width: 100rem;
  text-align: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.1rem;
  font-family: font_family.$fuente-secondary;
  color: rgb(255, 255, 255);
}
.parrafo {
  font-size: 1.4rem;
  font-weight: bold;
}
.mark-resaltado {
  background-color: rgb(253, 229, 181);
}
