@use '_font_family.scss';
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../../assets/icons/Free\ Vector\ _\ Flower\ background\ desktop\ wallpaper\,\ cute\ vector.jpeg);
}
.header h1 {
  font-family: font_family.$fuente-title;
  font-size: 2.5rem;
  font-weight: bold;
}
.search {
  width: 3rem;
  height: 2.5rem;
}
