/******* Main de pagina Inicio **********/

@use 'font_family';
.main {
  background-color: var(--color_principal);
}
.detalles__inicio {
  margin: auto;
}

.frase {
  margin-top: 2.3rem;
  margin-bottom: 4.1rem;
  font-size: 1.3rem;
  text-align: center;
  color: #000;
  font-family: font_family.$fuente-secondary;
}

.descripcion {
  background-image: url(../../assets/icons/Aesthetic\ Pink\ Flowers\ Laptop\ _\ Desktop\ Wallpaper.jpeg);
  border: thin solid cadetblue;
  margin-top: 2em;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: font_family.$fuente-title;
  font-size: 1.57rem;
}

figcaption {
  background-color: #fff;
  text-align: center;
}
.price {
  font-weight: bold;
}
@media (width <= 767px) {
  .products__imgs {
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.4em;
  }

  /*************/
  .detalles__article {
    display: flex;
    justify-content: space-around;
    border: thin solid cadetblue;
    text-align: center;
    background-image: url(../../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }

  /* Flip Card */
  .container {
    width: 339px;
    height: 350px;
    margin: auto;
    margin-top: 3em;
  }
  .flip-card-1 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: inherit;
    height: inherit;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*FIN - Flip Card */
}

@media (min-width: 438px) and (max-width: 767px) {
  /* Flip Card */
  .container {
    width: 400px;
    height: 350px;
    margin: auto;
    margin-top: 3em;
  }
}

/***** Resolucion Tablet  *******/

@media (width >= 768px) and (width <= 990px) {
  .products__imgs {
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 4em;
  }

  /*************/
  .detalles__article {
    display: flex;
    justify-content: space-around;
    border: thin solid cadetblue;
    text-align: center;
    background-image: url(../../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }

  /* Flip Card */
  .container {
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 3em;
  }
  .flip-card-1 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: inherit;
    height: inherit;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*FIN - Flip Card */
}

/* @media (min-width: 438px) and (max-width: 767px) {
  /* Flip Card */
/*   .container {
    width: 400px;
    height: 350px;
    margin: auto;
    margin-top: 3em;
  }
}  */

/***** Resolucion Desktop  *******/

@media (width >= 991px) {
  .container__img {
      margin: 1em auto;
      display: flex;
      justify-content: center;
      padding: 0.5em;
    }
    
  .products__imgs {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    gap: 1.4em;
    margin: auto;
  }

  /*************/
  .detalles__article {
    display: flex;
    justify-content: space-around;
    border: thin solid cadetblue;
    text-align: center;
    background-image: url(../../assets/icons/Light\ Pink\ Hand-drawn\ Tulip\ Aesthetic\ Desktop\ Computer\ Wallpaper\ Background\ Backgrounds\ _\ PSD\ Free\ Download\ -\ Pikbest.jpeg);
  }

  /* Flip Card */
  .container {
    width: 850px;
    height: 550px;
    margin: auto;
    margin-top: 3em;
  }
  .flip-card-1 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    width: inherit;
    height: inherit;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: flat;
    transform-style: preserve-3d;
  }
  .flip-card-1:hover {
    transform: rotateY(180deg);
  }
  .flip-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  .flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
  }
  .flip-front {
    transform: rotateY(0deg);
  }
  .flip-back {
    transform: rotateY(180deg);
  }
  /*FIN - Flip Card */
}

/******* Fin Main de pagina Inicio **********/

/******* Main de pagina Como llegar **********/
/*** Resolucion Movil   ***/
@media (width <= 767px) {
  #gmaps a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .section__como_llegar {
    border: thin solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
  }
}
/*** Resolucion Tablet   ***/
@media (width >= 768px) and (width <= 1023px) {
  #gmaps a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .section__como_llegar {
    border: thin solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
  }
}

/*** Resolucion Desktop   ***/

@media (width >= 1024px) {
  #gmaps iframe {
    max-width: auto;
  }
  .section__como_llegar {
    border: thin solid black;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
    width: 80%;
    padding: 1em;
  }
}
/******* Fin Main de pagina Como llegar **********/

/******* Main de pagina Politica de cambio **********/

.container_politica_cambios {
  margin-top: 4rem;
}
.politica_cambios {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

/*** Resolucion Movil   ***/
@media (width <= 767px) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.6rem;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .contacto__container p {
    font-size: 1.2rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .formulario input {
    margin-top: 1rem;
    width: 22rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario textarea {
    width: 22rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario [type='submit'] {
    width: 6rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type='submit']:hover {
    background-color: #f75669;
    transition: background-color 0.1s ease;
  }
  .formulario [type='submit'] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type='submit']:active {
    transform: scale(0.9);
  }
}

/*** Resolucion Tablet   ***/
@media (width >= 768px) and (width <= 990px) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.6rem;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .contacto__container p {
    font-size: 1.2rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .formulario input {
    margin-top: 1rem;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario textarea {
    width: 25rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario [type='submit'] {
    width: 6rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type='submit']:hover {
    background-color: #f75669;
    transition: background-color 0.1s ease;
  }
  .formulario [type='submit'] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type='submit']:active {
    transform: scale(0.9);
  }
}

/*** Resolucion Desktop   ***/
@media (width >= 991px) {
  .contacto > h2 {
    text-align: center;
    font-size: 2.6rem;
  }
  .contacto__container {
    margin-top: 1rem;
  }
  .contacto__container p {
    font-size: 1.2rem;
  }
  .wsp,
  .gmail,
  .posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  /* Config Formulario */
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  .formulario input {
    margin-top: 1rem;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    border-style: dashed;
    padding: 1rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario textarea {
    width: 25rem;
    padding: 1rem;
    margin: 0 auto;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: pink;
    font-size: 1.2rem;
  }
  .formulario [type='submit'] {
    width: 6rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #f77382;
  }
  .formulario [type='submit']:hover {
    background-color: #f75669;
    transition: background-color 0.1s ease;
  }
  .formulario [type='submit'] {
    transition: 0.2s;
    cursor: pointer;
  }
  .formulario [type='submit']:active {
    transform: scale(0.9);
  }
}
/************************    Fin  Estilos - Pagina Contacto   ************************ /


/************************     Estilos - Pagina Buzos y Sweaters   ************************ */

.buzos {
  width: 50%;
}
